// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap');

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

// Reset
@import './reset.scss';

// Blocks
@import './blocks/header.scss';
@import './blocks/nav.scss';
@import './blocks/slider.scss';
@import './blocks/pagination.scss';
@import './blocks/about-section.scss';
@import './blocks/features-section.scss';
@import './blocks/service-section.scss';
@import './blocks/devices-section.scss';
@import './blocks/make-section.scss';
@import './blocks/reviews-1-section.scss';
@import './blocks/team-section.scss';
@import './blocks/partners-section.scss';
@import './blocks/work-section.scss';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

p, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, ol, ul, li {
    padding: 0;
    margin: 0;
    line-height: normal;
}

.subtitle {
    margin-top: 18px;

    font-family: 'Kaushan Script', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #2D3033;
}

.title {
    margin-top: 38px;

    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
}

.line {
    margin: 44px auto 0;
    max-width: 170px;
    min-height: 4px;
    background-color: #F38281;
}

.text {
    max-width: 1170px;
    margin: 38px auto 96px;

    font-size: 18px;
    text-align: center;
}
