.header {
    position: relative;

    min-height: 1024px;

    background: linear-gradient(360deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%)
}

.header__top {
    position: relative;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 170px 0;
    z-index: 2;
}

.header__top-logo {
    padding-right: 400px;
}

.header__top-buttons {
    display: flex;
    max-height: 20px;
    gap: 35px;
    margin-left: 30px;
}

.header__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__content-subtitle {
    margin-top: 177px;

    font-family: 'Kaushan Script', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #FFF;
}

.header__content-title {
    max-width: 1056px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 144px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.header__content-separator {
    min-width: 170px;
    margin-top: 44px;
    border: 2px solid #FFF;
}

.header__content-button {
    min-width: 370px;
    min-height: 80px;
    margin-top: 72px;
    border: 4px solid #FFF;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    &:hover {
        color: #E4BE8D;
        background-color: #FFF;
    }

    &:active {
        border-color: #E4BE8D;
    }
}