.swiper-pagination {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 876px;
}

.swiper-pagination-bullet {
    min-width: 270px;
    max-height: 4px;
    border-radius: 0;
    background: #F9EFCF;
    opacity: 1;

    &:nth-child(1)::before {
        content: '01';
        position: relative;
        top: 25px;
        right: 85px;
        padding-right: 5px;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;
    }
    
    &:nth-child(1)::after{
        content: 'intro';
        position: relative;
        top: 25px;
        right: 85px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;
    }

    &:nth-child(2)::before {
        content: '02';
        position: relative;
        top: 25px;
        right: 85px;
        padding-right: 5px;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;
    }
    
    &:nth-child(2)::after{
        content: 'work';
        position: relative;
        top: 25px;
        right: 85px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;
    }

    &:nth-child(3)::before {
        content: '03';
        position: relative;
        top: 25px;
        right: 80px;
        padding-right: 5px;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;
    }
    
    &:nth-child(3)::after{
        content: 'about';
        position: relative;
        top: 25px;
        right: 80px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;
    }

    &:nth-child(4)::before {
        content: '04';
        position: relative;
        top: 25px;
        right:60px;
        padding-right: 5px;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;
    }
    
    &:nth-child(4)::after{
        content: 'contacts';
        position: relative;
        top: 25px;
        right: 60px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;
    }
}

.swiper-pagination-bullet-active {
    background: linear-gradient(to right, #F38281 30%, #FFF 30%, #FFF 70%);

    &:nth-child(1)::before {
        color: #FFF;
    }

    &:nth-child(1)::after {
        color: #FFF;
    }
    
    &:nth-child(2)::before {
        color: #FFF;
    }

    &:nth-child(2)::after {
        color: #FFF;
    }

    &:nth-child(3)::before {
        color: #FFF;
    }

    &:nth-child(3)::after {
        color: #FFF;
    }

    &:nth-child(4)::before {
        color: #FFF;
    }

    &:nth-child(4)::after {
        color: #FFF;
    }
}