.devices {
    min-height: 868px;
    padding-top: 42px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url('../images/devices-section/devices-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1179px) {
        min-height: 670px;
    }

    @media (max-width: 1024px) {
        min-height: 620px;
        padding-top: 28px;
    }

    @media (max-width: 804px) {
        min-height: 514px;
        padding-top: 48px;
    }
}

.devices__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.devices__subtitle {
    @media (max-width: 804px) {
        font-size: 30px !important;
    }
}

.devices__title {
    @media (max-width: 804px) {
        font-weight: 900 !important;
        font-size: 36px !important;
    }

    @media (max-width: 160px) {
        font-size: 34px !important;
    }
}

.devices__separator {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.devices__content {
    position: absolute;
    top: 59px;
    max-width: 1170px;
    max-height: 624px;

    @media (max-width: 1179px) {
        top: 40px;
        max-width: 800px;
        max-height: 423px;
    }

    @media (max-width: 804px) {
        display: none;
    }
}

.devices__content-mobile {
    position: absolute;
    display: none;

    @media (max-width: 804px) {
        display: block;
        top: 37px;
    }
}