footer {
    padding: 78px 16px 0;
    background-color: #F8F8F8;

    @media (max-width: 1024px) {
        padding: 28px 16px 0;
    }

    @media (max-width: 300px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (max-width: 1188px) {
        gap: 20px;
    }

    @media (max-width: 683px) {
        align-items: center;
        flex-direction: column;
        gap: 26px;
    }

    @media (max-width: 420px) {
        align-items:  normal;
        flex-direction: row;
    }
}

// Mogo

.mogo-box {
    max-width: 370px;

    @media (max-width: 1188px) {
        max-width: 317px;
    }

    @media (max-width: 683px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}

.mogo-box__logo {
    @media (max-width: 1188px) {
        width: 100px;
        height: 26px;
    }
}

.mogo-box__text {
    max-width: 329px;
    margin-top: 49px;
    color: #C6CBCD;

    @media (max-width: 1188px) {
        margin-top: 34px;
        font-size: 14px;
    }

    @media (max-width: 683px) {
        text-align: center;
    }
}

.mogo-box__followers {
    margin-top: 45px;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1188px) {
        margin-top: 25px;
        font-size: 24px;
    }

    & span:nth-child(1) {
        font-size: 18px;

        @media (max-width: 1188px) {
            font-size: 14px;
        }
    }

    & span:nth-child(2) {
        font-weight: 400;
        font-size: 18px;
        font-style: italic;

        @media (max-width: 1188px) {
            font-size: 14px;
        }
    }
}

.mogo-box__separator {
    margin-top: 22px;
    max-width: 370px;
    min-height: 1px;
    background-color: #C6CBCD;

    @media (max-width: 1188px) {
        margin-top: 10px;
    }

    @media (max-width: 683px) {
        width: 100%;
    }
}

.mogo-box__socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    @media (max-width: 1188px) {
        margin-top: 7px;
    }

    @media (max-width: 300px) {
        width: 100%;
    }

    &::before {
        content: 'Follow Us';
        margin-right: 15px;
        font-size: 13px;
        font-style: italic;
        color: #C6CBCD;

        @media (max-width: 1188px) {
            font-size: 12px;
        }

        @media (max-width: 683px) {
            margin-right: 10px;
        }
    }
}

.mogo-box__socials-button {
    @media (max-width: 1188px) {
        width: 16px;
        height: 16px;
    }
}

.mogo-box__email {
    width: 234px;
    height: 55px;
    margin-top: 46px;
    border: 1px solid #C6CBCD;
    background-color: #FFF;
    text-align: center;
    color: #C6CBCD;

    @media (max-width: 1188px) {
        width: 171px;
        height: 37px;
        margin-top: 31px;
        padding-left: 30px;
        font-size: 14px;
        text-align: start;
    }

    @media (max-width: 683px) {
        width: 100%;
        margin-bottom: 24px;
    }

    @media (max-width: 161px) {
        width: 130px;
    }
}

::placeholder {
    color: #C6CBCD;
}

.mogo-box__submit {
    min-width: 130px;
    min-height: 55px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    @media (max-width: 1188px) {
        min-width: 145px;
        min-height: 37px;
        font-size: 14px;
    }

    @media (max-width: 683px) {
        width: 100%;
    }

    @media (max-width: 161px) {
        min-width: 100px;
        width: 130px;
    }
}

input[type=submit] {
    background-color: #95E1D3;
}

// Blogs

.blogs-box {
    width: 470px;

    @media (max-width: 1188px) {
        width: 392px;
    }

    @media (max-width: 683px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 269px;
    }
}

.blogs-box__title {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1188px) {
        margin-bottom: 26px;
        font-size: 18px;
    }
}

.blogs-box__content {
    display: flex;
    flex-direction: column;
    gap: 21px;

    @media (max-width: 1188px) {
        gap: 13px;
    }
}

.blog-box__card {
    display: flex;
    gap: 30px;
    
    @media (max-width: 1188px) {
        gap: 20px;
    }

    @media (max-width: 230px) {
        gap: 0;
    }
}

.blog-box__card-picture {
    cursor: pointer;
    
    @media (max-width: 1188px) {
        max-width: 115px;
        max-height: 71px;
    }

    @media (max-width: 683px) {
        display: none;
    }
}

.blog-box__card-picture-mobile {
    display: none;
    max-height: 71px;
    cursor: pointer;

    @media (max-width: 683px) {
        display: block;
    }

    @media (max-width: 200px) {
        display: none;
    }
}

.blog-box__card-text {
    width: 246px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1188px) {
        width: 267px;
        font-size: 14px;
    }

    @media (max-width: 683px) {
        width: 100%;
        font-size: 13px;
    }
}

.blog-box__card-date {
    margin-top: 15px;
    font-size: 13px;
    color: #2D3033;

    @media (max-width: 1188px) {
        margin-top: 10px;
        font-size: 12px;
    }

    @media (max-width: 683px) {
        font-size: 11px;
    }
}

// Instagram

.instagram-box {
    width: 270px;

    @media (max-width: 1188px) {
        width: 223px;
    }

    @media (max-width: 683px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 289px;
    }
}

.instagram-box__title {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1188px) {
        margin-bottom: 26px;
        font-size: 18px;
    }
}

.instagram-box__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 38px;

    @media (max-width: 1188px) {
        margin-bottom: 10px;
    }
}

.instagram-box__link {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration-line: underline;
    color: #2D3033;
    border-bottom: 1px solid #2D3033;

    @media (max-width: 1188px) {
        font-size: 12px;
    }

    @media (max-width: 683px) {
        margin-top: 20px;
    }
}

// Copyright

.footer__copyright-separator {
    max-width: 1140px;
    min-height: 1px;
    background-color: #C6CBCD;
    margin: 32px auto 17px;

    @media (max-width: 1188px) {
        margin-bottom: 14px;
    }

    @media (max-width: 362px) {
        margin-bottom: 7px;
    }
}

.footer__copyright-text {
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1188px) {
        padding-bottom: 14px;
    }

    @media (max-width: 362px) {
        padding-bottom: 7px;
    }
}
