.make {
    padding: 42px 16px 114px;

    @media (max-width: 1024px) {
        padding: 86px 16px 88px;
    }

    @media (max-width: 830px) {
        padding-bottom: 0;
        margin-bottom: 31px;
    }

    @media (max-width: 420px) {
        padding-top: 52px;
    }

    @media (max-width: 290px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.make__container {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 1024px) {
        gap: 20px;
    }

    @media (max-width: 830px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.make__picture {
    height: 485px;

    @media (max-width: 1024px) {
        width: 486px;
        height: 411px;
    }

    @media (max-width: 830px) {
        height: auto;
    }

    @media (max-width: 320px) {
        display: none;
    }
}

.make__picture-mobile {
    display: none;

    @media (max-width: 320px) {
        display: block;
    }
}

.make__accordion {
    display: flex;
    flex-direction: column;
    max-width: 570px;

    @media (max-width: 1024px) {
        max-width: 486px;
    }
}

.make__accordion-item {
    margin-bottom: 22px;
    border: 1px solid #C6CBCD;

    @media (max-width: 1024px) {
        margin-bottom: 19px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.make__accordion-top {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 1024px) {
        gap: 34px;
    }

    @media (max-width: 340px) {
        gap: 30px;
    }

    @media (max-width: 290px) {
        & p {
            display: none;
        }
    }
}

.make__accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 18px;
    cursor: pointer;
    width: 100%;

    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1024px) {
        padding: 19px 15px;
        font-size: 18px;
    }

    @media (max-width: 340px) {
        font-size: 14px;
    }

    &::after {
        content: url('../images/make-section/arrow-down.svg');
        display: flex;
        justify-content: center;
        max-width: 42px;
        max-height: 42px;
        transition: transform .3s;
        
        @media (max-width: 1024px) {
            max-width: 36px;
            max-height: 36px;
        }
    }
}

.make__accordion-input {
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;

    &:checked ~ .make__accordion-text {
        height: 149px;
        opacity: 1;

        @media (max-width: 1024px) {
            height: 139px;
        }
    }

    &:checked ~ .make__accordion-title::after {
        transform: rotate(-180deg);
    }
}

.make__accordion-text {
    overflow-y: scroll;

    height: 2;
    opacity: 0;
    border-top: 1px solid #C6CBCD;
    color: #2D3033;
    transition: 0.2s;

    @media (max-width: 1024px) {
        font-size: 14px;
    }

    @media (max-width: 290px) {
        font-size: 10px;
    }

    & p {
        max-width: 463px;
        margin: 15px 22px;
    }

    &::-webkit-scrollbar {
        width: 31px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 7px 7px #F5F5F5;
        border-right: 24px solid transparent;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 7px 7px #95E1D3;
        border-right: 24px solid transparent;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
    }
} 


