.map {
    padding: 42px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url('../images/map-section/map-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1024px) {
        padding: 29px 0;
    }

    @media (max-width: 420px) {
        background-image: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url('../images/map-section/map-bg-mobile.png');
        padding: 42px 0;
    }
}

.map__icon {
    display: flex;
    justify-content: center;

    & img {
        cursor: pointer;

        @media (max-width: 1024px) {
            width: 28px;
            height: 28px;
        }

        @media (max-width: 420px) {
            width: 42px;
            height: 42px;
        }
    }
}

.map__title {
    margin-top: 38px;

    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #F38281;

    @media (max-width: 1024px) {
        margin-top: 10px;
        font-size: 24px;
    }

    @media (max-width: 420px) {
        margin-top: 25px;
    }
}

.map__separator {
    margin-top: 25px !important;

    @media (max-width: 420px) {
        margin-top: 50px !important;
    }
}