.swiper-pagination {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 876px;
}

.swiper-pagination-bullet {
    min-width: 270px;
    max-height: 4px;
    border-radius: 0;
    background: #F9EFCF;
    opacity: 1;

    &::before {
        content: '';
        position: relative;
        top: 10px;

        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;
    }

    &::after {
        content: '';
        position: relative;
        top: 10px;

        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;
    }

    &:nth-child(1)::before {
        content: '01';
        right: 87px;
    }
    
    &:nth-child(2)::before {
        content: '02';
        right: 85px;
    }

    &:nth-child(3)::before {
        content: '03';
        right: 83px;
    }

    &:nth-child(4)::before {
        content: '04';
        right: 63px;
    }

    &:nth-child(1)::after {
        content: 'intro';
        right: 82px;
    }
    
    &:nth-child(2)::after {
        content: 'work';
        right: 80px;
    }
    
    &:nth-child(3)::after {
        content: 'about';
        right: 78px;
    }
    
    &:nth-child(4)::after {
        content: 'contacts';
        right: 58px;
    }
}

.swiper-pagination-bullet-active {
    background: linear-gradient(to right, #F38281 30%, #FFF 30%, #FFF 70%);

    &::before {
        color: #FFF;
    }

    &::after {
        color: #FFF;
    }
}