.swiper-pagination {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 876px;

    @media (max-width: 1024px) {
        margin-top: 589px;
    }
}

.swiper-pagination-bullet {
    display: flex;
    width: 270px;
    max-height: 4px;
    border-radius: 0;
    background: #F9EFCF;
    opacity: 1;

    &::before {
        content: '';
        position: relative;
        top: 10px;

        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #F9EFCF;

        @media (max-width: 1024px) {
            font-size: 24px;
        }
    }

    &::after {
        content: '';
        position: relative;
        top: 30px;
        left: 5px;

        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #F9EFCF;

        @media (max-width: 1024px) {
            top: 21px;
            font-size: 14px;
        }
    }

    &:nth-child(1)::before {
        content: '01';
    }
    
    &:nth-child(2)::before {
        content: '02';
    }

    &:nth-child(3)::before {
        content: '03';
    }

    &:nth-child(4)::before {
        content: '04';
    }

    &:nth-child(1)::after {
        content: 'intro';
    }
    
    &:nth-child(2)::after {
        content: 'work';
    }
    
    &:nth-child(3)::after {
        content: 'about';
    }
    
    &:nth-child(4)::after {
        content: 'contacts';
    }
}

.swiper-pagination-bullet-active {
    background: linear-gradient(to right, #F38281 30%, #FFF 30%, #FFF 70%);

    &::before {
        color: #FFF;
    }

    &::after {
        color: #FFF;
    }
}