.services {
    max-width: 1510px;
    margin: 0 auto;
    padding: 42px 16px 91px;

    @media (max-width: 1024px) {
        padding: 29px 16px 58px;
    }

    @media (max-width: 319px) {
        padding: 29px 0 58px;
    }
}

.services__cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 140px 30px;

    @media (max-width: 1188px) {
        margin-top: 68px;
        gap: 58px 25px;
    }

    @media (max-width: 420px) {
        gap: 42px;
    }
}

.services__card {
    display: grid;
    grid-template-columns: 100px 260px;
    grid-template-rows: 57px 80px;
    align-items: center;

    @media (max-width: 1188px) {
        grid-template-columns: 85px 220px;
        grid-template-rows: 57px 68px;
    }

    @media (max-width: 420px) {
        grid-template-columns: 77px 195px;
        grid-template-rows: 57px 45px;
    }

    @media (max-width: 295px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.services__card-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #2D3033;

    @media (max-width: 1156px) {
        font-size: 18px;
    }

    @media (max-width: 295px) {
        font-size: 17px;
    }
}

.services__card-text {
    grid-column: 2;
    font-size: 18px;
    color: #2D3033;

    @media (max-width: 1156px) {
        font-size: 14px;
    }

    @media (max-width: 295px) {
        text-align: center;
        font-size: 13px;
    }
}